<a href="https://colab.research.google.com/github/shemi024/data-preprocessing/blob/main/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset=pd.read_csv('/content/drive/MyDrive/cars.csv',delimiter=';')

In [ ]:

dataset

                           Car     MPG Cylinders  ... Acceleration Model  Origin
0                       STRING  DOUBLE       INT  ...       DOUBLE   INT     CAT
1    Chevrolet Chevelle Malibu    18.0         8  ...         12.0    70      US
2            Buick Skylark 320    15.0         8  ...         11.5    70      US
3           Plymouth Satellite    18.0         8  ...         11.0    70      US
4                AMC Rebel SST    16.0         8  ...         12.0    70      US
..                         ...     ...       ...  ...          ...   ...     ...
402            Ford Mustang GL    27.0         4  ...         15.6    82      US
403          Volkswagen Pickup    44.0         4  ...         24.6    82  Europe
404              Dodge Rampage    32.0         4  ...         11.6    82      US
405                Ford Ranger    28.0         4  ...         18.6    82      US
406                 Chevy S-10    31.0         4  ...         19.4    82      US

[407 rows x 9 columns]

In [ ]:
dataset.tail(10)

                            Car   MPG Cylinders  ... Acceleration Model  Origin
397  Chrysler Lebaron Medallion  26.0         4  ...         14.5    82      US
398              Ford Grenada l  22.0         6  ...         14.7    82      US
399            Toyota Celica GT  32.0         4  ...         13.9    82   Japan
400           Dodge Charger 2.2  36.0         4  ...         13.0    82      US
401            Chevrolet Camaro  27.0         4  ...         17.3    82      US
402             Ford Mustang GL  27.0         4  ...         15.6    82      US
403           Volkswagen Pickup  44.0         4  ...         24.6    82  Europe
404               Dodge Rampage  32.0         4  ...         11.6    82      US
405                 Ford Ranger  28.0         4  ...         18.6    82      US
406                  Chevy S-10  31.0         4  ...         19.4    82      US

[10 rows x 9 columns]

In [ ]:
type(dataset)

pandas.core.frame.DataFrame

In [ ]:
dataset=dataset.iloc[:,:].values
dataset

array([['STRING', 'DOUBLE', 'INT', ..., 'DOUBLE', 'INT', 'CAT'],
       ['Chevrolet Chevelle Malibu', '18.0', '8', ..., '12.0', '70',
        'US'],
       ['Buick Skylark 320', '15.0', '8', ..., '11.5', '70', 'US'],
       ...,
       ['Dodge Rampage', '32.0', '4', ..., '11.6', '82', 'US'],
       ['Ford Ranger', '28.0', '4', ..., '18.6', '82', 'US'],
       ['Chevy S-10', '31.0', '4', ..., '19.4', '82', 'US']], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
country=LabelEncoder()

In [ ]:
dataset

array([['STRING', 'DOUBLE', 'INT', ..., 'DOUBLE', 'INT', 'CAT'],
       ['Chevrolet Chevelle Malibu', '18.0', '8', ..., '12.0', '70',
        'US'],
       ['Buick Skylark 320', '15.0', '8', ..., '11.5', '70', 'US'],
       ...,
       ['Dodge Rampage', '32.0', '4', ..., '11.6', '82', 'US'],
       ['Ford Ranger', '28.0', '4', ..., '18.6', '82', 'US'],
       ['Chevy S-10', '31.0', '4', ..., '19.4', '82', 'US']], dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ct= ColumnTransformer(transformers=[('encode',OneHotEncoder(),[8])],remainder='passthrough')

In [ ]:
y=ct.fit_transform(dataset)

In [ ]:
y

array([[1.0, 0.0, 0.0, ..., 'DOUBLE', 'DOUBLE', 'INT'],
       [0.0, 0.0, 0.0, ..., '3504.', '12.0', '70'],
       [0.0, 0.0, 0.0, ..., '3693.', '11.5', '70'],
       ...,
       [0.0, 0.0, 0.0, ..., '2295.', '11.6', '82'],
       [0.0, 0.0, 0.0, ..., '2625.', '18.6', '82'],
       [0.0, 0.0, 0.0, ..., '2720.', '19.4', '82']], dtype=object)

In [ ]:
y=pd.DataFrame(y)
y

    0  1  2  3                          4   ...      7       8       9       10   11
0    1  0  0  0                     STRING  ...  DOUBLE  DOUBLE  DOUBLE  DOUBLE  INT
1    0  0  0  1  Chevrolet Chevelle Malibu  ...   307.0   130.0   3504.    12.0   70
2    0  0  0  1          Buick Skylark 320  ...   350.0   165.0   3693.    11.5   70
3    0  0  0  1         Plymouth Satellite  ...   318.0   150.0   3436.    11.0   70
4    0  0  0  1              AMC Rebel SST  ...   304.0   150.0   3433.    12.0   70
..  .. .. .. ..                        ...  ...     ...     ...     ...     ...  ...
402  0  0  0  1            Ford Mustang GL  ...   140.0   86.00   2790.    15.6   82
403  0  1  0  0          Volkswagen Pickup  ...   97.00   52.00   2130.    24.6   82
404  0  0  0  1              Dodge Rampage  ...   135.0   84.00   2295.    11.6   82
405  0  0  0  1                Ford Ranger  ...   120.0   79.00   2625.    18.6   82
406  0  0  0  1                 Chevy S-10  ...   119.0   82.00   2720.    19.4   82

[407 rows x 12 columns]